/*====  Alinhar ícone da lista no topo ============================ */

selector .elementor-icon-list-item {
	align-items: baseline; 
	}

selector .elemewntor-icon-list-item i {
	padding-top: 5px;
	}


/*====  Glassmorphism no item ============================ */

selector {
    background: rgba( 0, 0, 0, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 5, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}



/*====  Selo rotacionando ============================ */

definir a class 'rodando'

.rodando {
	-webkit-animation: rodando 30s linear infinite
	}

@-webkit-keyframes rodando{
	from{
	 -webkit-transform: rotate(0deg);
	}
	to{
	 -webkit-transform: rotate(360deg)/
	 }
	}
